
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Style for Headers */
h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 36px;
}

h2 {
  color: pink;
  font-family: "Lucida Console", Courier, monospace;
}

h3 {
  font-family: 'DM Mono', monospace;

}

h4 {
  font-family: 'DM Mono', monospace;
  font-weight: normal;
}

/* Styler for images */
img {
  padding: 10px;
  height: 250px;
}

a {
  color: pink;
  font-family: "Lucida Console", Courier, monospace;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

p {
  font-size: 18px;
  font-family: 'DM Mono', monospace;
}

li {
  font-size: 18px;
  font-family: 'DM Mono', monospace;
}

button {
  padding: 20px;
  align-self: right;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.scrolling-wrapper-flexbox img:hover {
  background-color: #777;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}


/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(30deg, rgba(255,255,255,1) 25%, rgba(255,195,204,1)
  50%, rgba(255,182,193,1) 75%, rgba(255,105,180,1) 100%);
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  width: 100%; /* Full width */
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;

}

.content {
  padding: 50px;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 350px;
  background: var(--main-purple-color)
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/city.jpg) no-repeat
    center / cover;
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}

.page-main div {
  max-width: 500px;
}

.page-main h1 {
  margin-bottom: 20px;
}

.page-main p + p {
  margin-top: 10px;
}

.profile  {
  float: left;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  align: center;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Float four columns side by side */
.column {
  float: center;
  padding: 10px;
}

/* Remove extra left and right margins, due to padding in columns
.row {margin: 0 -5px;} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 50px;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/* Fake image, just for this example */
.fakeimg {
  background-color: #333;
  align-content: center;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  width: 100%;
  text-align: center;
  background: pink;
}

.icon {
  height: 100px;
}
/* Loader */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: pink;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row, .navbar {
    flex-direction: column;
  }
}
